body {
  background-color: #0d0d0d;
  font-family: Fira Code;
  text-align: left;
  margin-bottom: 35px;
  border-style: none;
  border-radius: 12px;
  border-color: #616161;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 40px;
  padding-bottom: 35px;
  padding-top: 5px;
  margin-top: 95px;
  line-height: 14px;
}

body::before {
  content: "";
  position: fixed;
  top: -200px;
  rotate: 0deg;
  right: 0;
  bottom: 0px;
  left: 0;
  background-image: url('https://i.ibb.co/L1C9hJS/dark-red13.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

label {
  font-size: 15px;
  color: white;
  margin-left: 0px;
}

#parentContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  top: 11.5px;
  right: 20px;
  gap: 0px;
}

#parentSearchBox {
  display: flex;
  justify-content: left;
  height: 0px;
  position: relative;
  top: -39px;
  margin-left: 35px;
}

html body h2 {
  background-color: #ffffff11;
  border-radius: 10px;
  padding-bottom: 22px;
  padding-top: 22px;
  margin-right: 40px;
  padding-left: 33px;
}

html body h1 {
  background-color: #ffffff11;
  border-radius: 10px;
  padding-bottom: 5px;
  margin-right: 40px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 5px;
  margin-left: 0px;
}

html body label {
  background-color: #ffffff11;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

h2 {
  color: #ffffff;
  line-height: 40px;
  margin-left: 0px;
}

h1 {
  color: white;
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
  line-height: 30px;
}

.button {
  background-color: #ffffff00;
  border: solid;
  border-radius: 10px;
  border-color: #6161616c;
  color: white;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  transform: translateY(1px);
  display: inline-block;
  font-size: 16px;
  font-family: Fira Code;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 0px;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease, transform 0.3s ease;
}

.h3 {
  border-color: #ffffff00;
  display: inline-block;
  padding-right: 33px !important;
}

.button3,
.button4,
.button5 {
  height: 45px;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: none;
  background-color: #ffffff18;
  color: rgb(255, 255, 255);
  border-color: #61616177;
  margin-left: 15px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.308);
}
  
.button3 {
  border-radius: 10px;
  padding: 0px 20px;
  border-color: #61616177;
  text-align: center;
  font-weight: 700px;
  font-style: normal;
  text-transform: none;
}

.button4,
.button5 {
  text-transform: none;
  border-radius: 10px;
  padding: 0px 20px;
}

.button3:hover,
.button4:hover,
.button5:hover {
  transform: scale(1.05);
  border-radius: inheritfromparent;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.349)!important;    
}

.button:hover {
  background-color: white;
  color: black;
  border-color: white;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.199);
}

.button2:hover {
  background-color: #76b900;
  color: white;
  border-color: #76b900;
}

.button3:hover {
  background-color: #5964f1;
  color: white;
  border-color: #5964f1;
  border-radius: inheritfromparent;
  transform: scale(1.05);
}

.tooltip {
  visibility: hidden;
  background-color: rgba(22, 22, 22, 0.082);
  color: #fff;
  text-align: center;
  padding: 5px 7px;
  border-radius: 12px;
  position: absolute;
  text-transform: none;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  transform: translate(-50%);
  margin-left: 0px;
  opacity: 0;
  transition: opacity 0.3s;
  backdrop-filter: blur(4px);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.596);
  border: none;
  border-color: grey;
}

.button:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.3s;
}

#searchInput {
  width: 10.5%;
  height: 100%;
  font-size: 16px;
  padding: 20px;
  margin: 5px 5px;
  margin-top: px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: solid;
  outline-color: #61616177;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #0d0d0d48;
  position: absolute;
  color: #ffffff;
  transition: width 0.3s ease-in-out, transform 0.3s ease;
}

#searchInput:focus {
  outline: solid;
  outline-color: #616161;
  background-color: #0d0d0d4f;
  color: white;
  width: 13%;
  box-shadow: 0px 1px 50px 6px rgba(0, 0, 0, 0.295);
  transform: scale(1.05);
}

#searchInput::placeholder {
  font-style: italic;
}

header {
  background-color: #ffffff11;
  top: 17px;
  position: fixed;
  width: 97%;
  left: 0px;
  right: 0px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(20px); 
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.308);
  border-radius: 10px;
  z-index: 2;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  animation: fadeIn 1s;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #6d49aa34;
}

::-webkit-scrollbar-thumb {
  background: #3e2f52;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #644e86;
}
