body {
  background-color: #0d0d0d;
  font-family: Roboto Mono,monospace;
  text-align: left;
  margin-bottom: 35px;
  border-style: none;
  border-radius: 12px;
  border-color: #616161;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 40px;
  padding-bottom: 35px;
  padding-top: 5px;
  margin-top: 80px;
  line-height: 14px;   
  background: radial-gradient(circle at 50% 50%, rgb(25, 15, 43), rgb(0, 0, 0) );
  background-size: 300% 300%;
  background-attachment: fixed;
  animation: gradient 40s ease-in-out infinite; 
}

body::before {
  content: "";
  position: fixed;
  top: -200px;
  rotate: 0deg;
  right: 0;
  bottom: 0px;
  left: 0;
  will-change: background-position;

  -----------------------------------background-image: url('https://i.postimg.cc/bYLRzFk8/blurrrrrr.png');
  -----------------------------------background-repeat: no-repeat;
  -----------------------------------background-size: cover;
  z-index: -1;
}

@keyframes gradient {
  0% {background-position: 0% 0%;}
  25% {background-position: 100% 0%;}
  50% {background-position: 100% 100%;}
  75% {background-position: 0% 100%;}
  100% {background-position: 0% 0%;}
}

label {
  font-size: 15px;
  color: white;
  margin-left: 0px;
}

#parentContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  top: 11.5px;
  right: 20px;
  gap: 10px;
}

#parentSearchBox {
  display: flex;
  justify-content: left;
  height: 0px;
  position: relative;
  top: -39px;
  margin-left: 50px;
}

#colorToggle {
  height: 45px;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: none;
  background-color: #ffffff17;;
  color: rgb(255, 255, 255);
  border-color: #61616177;
  box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.308);
  border-radius: 10px;
  font-family: Roboto Mono,monospace;
  padding: 0px 10px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease, border-color 0.3s ease,
              color 0.3s ease, transform 0.3s ease;
}

body.alternateColors {
  background: radial-gradient(circle at 50% 50%, rgb(54, 35, 0), rgb(80, 33, 56));
  background-size: 300% 300%;
  background-attachment: fixed;
  animation: gradient 40s ease-in-out infinite; 
}

#colorToggle:hover {
  transform: scale(1.1);
  border-radius: inheritfromparent;
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.349)!important;  
}

html body h2 {
  background-color: #ffffff11;
  border-radius: 10px;
  padding-bottom: 22px;
  padding-top: 22px;
  margin-right: 40px;
  padding-left: 33px;
}

html body h1 {
  background-color: #ffffff11;
  border-radius: 10px;
  padding-bottom: 5px;
  margin-right: 40px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 5px;
  margin-left: 0px;
  margin-bottom: 0px;
  transform: translateY(-8px);
}

html body label {
  background-color: #ffffff11;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-weight: 1;
}

#LH1 {
  translate: 0px 20px;
}

h2 {
  color: #ffffff;
  line-height: 40px;
  margin-left: 0px;
  font-weight: 10;
}

h2.hidehim {
  display: none;
}
  
h1 {
  color: white;
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 10;
  line-height: 30px;
}

.button {
  background-color: #ffffff00;
  border: solid;
  border-radius: 10px;
  border-color: #6161616c;
  color: white;
  padding: 6px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 10;
  font-style: normal;
  transform: translateY(0.5px);
  display: inline-block;
  font-size: 16px;
  font-family: Fira Code;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 0px;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease, transform 0.3s ease;
}

.h3 {
  border-color: #ffffff00;
  display: inline-block;
  padding-right: 33px !important;
}

h1.h3 {
  padding-right: 22px !important;
}

.button3,
.button4,
.button5 {
  height: 45px;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: none;
  background-color: #ffffff18;
  color: rgb(255, 255, 255);
  border-color: #61616177;
  margin-left: 15px;
  box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.308);
}
  
.button3 {
  border-radius: 10px;
  padding: 0px 20px;
  border-color: #61616177;
  text-align: center;
  font-weight: 700px;
  font-style: normal;
  text-transform: none;
}

.button4,
.button5 {
  text-transform: none;
  border-radius: 10px;
  padding: 0px 20px;
}

.button3:hover,
.button4:hover,
.button5:hover {
  transform: scale(1.05);
  border-radius: inheritfromparent;
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.349)!important;    
}

.button:hover {
  background-color: white;
  color: black;
  border-color: white;
  transform: scale(1.1);
  font-weight: 500;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.199);
}

.button2:hover {
  background-color: #76b900;
  color: white;
  border-color: #76b900;
}

.button3:hover {
  background-color: #5964f1;
  color: white;
  border-color: #5964f1;
  border-radius: inheritfromparent;
  transform: scale(1.10);
}

.tooltip {
  visibility: hidden;
  background-color: rgba(22, 22, 22, 0.082);
  color: #fff;
  text-align: center;
  padding: 5px 7px;
  border-radius: 12px;
  position: absolute;
  text-transform: none;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  transform: translate(-50%);
  margin-left: 0px;
  opacity: 0;
  transition: opacity 0.3s;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.329);
  border: none;
  border-color: grey;
}

.button:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.3s;
}

#searchInput {
  width: 10.5%;
  height: 100%;
  font-size: 16px;
  font-family: Roboto Mono,monospace;
  padding: 20px;
  margin: 5px 5px;
  margin-top: px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  outline: solid;
  outline-color: #61616177;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #0d0d0d48;
  position: absolute;
  color: #ffffff;
  transition: width 0.3s ease-in-out, transform 0.3s ease;
  padding-bottom: 22px;
}

#searchInput:focus {
  outline: solid;
  outline-color: #616161;
  background-color: #0d0d0d4f;
  color: white;
  width: 13%;
  box-shadow: 0px 1px 50px 6px rgba(0, 0, 0, 0.295);
  transform: scale(1.05);
}

#searchInput::placeholder {
  font-style: italic;
}

header {
  background-color: #ffffff11;
  top: 0px;
  position: fixed;
  width: 100%;
  left: 0px;
  right: 0px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(20px); 
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.205);
  border-radius: 0px;
  z-index: 2;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  animation: fadeIn 1s;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4e4e4e;
}

@media screen and (max-width: 480px) and (min-height: 500px) {
    header {
    height: 16%;     
  }

  #searchInput {
  top: 65px;
  width: 80%;
  }

  #searchInput:focus{
    width: 80%;
  }

  body {
    margin-top: 150px;
    margin-left: -20px;
    margin-right: -50px;
  }

  .button3, .button4, .button5 {
    font-size: 12px;
    overflow: hidden;
    margin-left: 20px;
    }

  h1, h3, label, .button{
    font-size: 12px;
    line-height: 17px;
  }

  h2{
    font-size: 18px;
    line-height: 25px;
  }

  #parentContainer{
    margin-left: 20px;
    margin-right: 0px;
  }
}