 @import url(https://fonts.googleapis.com/css2?family=Fira+Code:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

 body {
   background-color: #0d0d0d;
   font-family: Fira Code;
   text-align: left;
   margin-left: 35px;
   margin-right: 35px;
   margin-bottom: 35px;
   border-style: solid;
   border-radius: 12px;
   border-color: #616161;
   padding-left: 35px;
   padding-bottom: 35px;
   padding-top: 20px;
   margin-top: 35px;
   line-height: 14px;
 }

 label {
   font-size: 15px;
   color: white;
 }

 h2 {
   color: #FFFFFF;
   line-height: 40px;
 }

 .button {
   background-color: #000000;
   border: solid;
   border-radius: 20px;
   border-color: #616161;
   color: white;
   padding: 5px 15px;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 500;
   font-style: normal;
   display: inline-block;
   font-size: 16px;
   font-family: Fira Code;
   margin: 4px 2px;
   cursor: pointer;
 }

 .button3 {
   border-radius: 5px;
   background-color: #FFFFFF;
   border-color: #FFFFFF;
   color: black;
   text-align: center;
   font-weight: 700px;
   font-style: normal;
 }


 .button:hover {
   background-color: white;
   color: black;
   border-color: white;
   transition: background-color 0.3s ease;
   transition: border-color 0.3s ease;

 }

 .button2:hover {
   background-color: #76B900;
   color: white;
   border-color: #76B900;
 }

 .button3:hover {
   background-color: #5964F1;
   color: white;
   border-color: #5964F1;
   border-radius: 5px;
 }
